Blog Writer.json
{
  "name": "Basic Blog Writer Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-blog",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        380,
        240
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        380,
        460
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "google-gemini-creds",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a tech blog writer. \n1. Select a random, interesting, and trending technology topic (e.g., AI Agents, Quantum Computing, Rust vs C++, etc.).\n2. Write a comprehensive 500-word blog post about it.\n3. Return the result in strictly valid JSON format with the following structure:\n{\n  \"title\": \"Catchy Blog Title\",\n  \"content\": \"<p>HTML formatted blog content here...</p>\"\n}",
        "hasOutputParser": true
      },
      "id": "llm-writer",
      "name": "Blog Writer Node",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"content\": \"string\"\n}"
      },
      "id": "output-parser",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        820,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-wordpress-site.com/wp-json/wp/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "status",
              "value": "draft"
            }
          ]
        },
        "options": {}
      },
      "id": "wordpress-post",
      "name": "Post to WordPress",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        960,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wordpress-auth",
          "name": "WordPress"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Blog Writer Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Writer Node",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Blog Writer Node",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Blog Writer Node": {
      "main": [
        [
          {
            "node": "Post to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}